<mat-table [dataSource]="pessoas">
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

  <!-- nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.nome }}</mat-cell>
  </ng-container>

  <!-- cpf Column -->
  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef>CPF</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.cpf }}</mat-cell>
  </ng-container>

  <!-- data_nasc Column -->
  <ng-container matColumnDef="data_nasc">
    <mat-header-cell *matHeaderCellDef>Data Nasc.</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.data_nasc }}</mat-cell>
  </ng-container>

  <!-- sexo Column -->
  <ng-container matColumnDef="sexo">
    <mat-header-cell *matHeaderCellDef>Sexo</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.sexo }}</mat-cell>
  </ng-container>

  <!-- cidade Column -->
  <ng-container matColumnDef="cidade">
    <mat-header-cell *matHeaderCellDef>Cidade</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.cidade }}</mat-cell>
  </ng-container>

  <!-- estado Column -->
  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.estado }}</mat-cell>
  </ng-container>

  <!-- tipo_sanguineo Column -->
  <ng-container matColumnDef="tipo_sanguineo">
    <mat-header-cell *matHeaderCellDef>Tipo Sanguineo</mat-header-cell>
    <mat-cell *matCellDef="let pessoa">{{ pessoa.tipo_sanguineo }}</mat-cell>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-stroked-button (click)="onAdd()">
        <mat-icon aria-hidden="false" aria-label="Novo" fontIcon="library_add"></mat-icon>
        Novo
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let pessoa" class="action-column">
      <button mat-icon-button color="primary" aria-label="Alterar" (click)="onEdit(pessoa)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Deletar" (click)="onDelete(pessoa.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
