<mat-card>
  <mat-card-content>
    <mat-toolbar> Cadastrar Doador </mat-toolbar>

    <form [formGroup]="form" class="min-width">
      <br>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label> Nome </mat-label>
        <input matInput formControlName="nome" required />
      </mat-form-field>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> CPF </mat-label>
          <input matInput formControlName="cpf" required pattern="\d{3}.\d{3}.\d{3}-\d{2}" />
          <mat-hint align="start"> Ex.: 123.456.789.-89 </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> RG </mat-label>
          <input matInput formControlName="rg" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Data Nascimento </mat-label>
          <input matInput formControlName="data_nasc" pattern="\d{2}/\d{2}/\d{4}" />
          <mat-hint align="start"> Ex.: 31/12/1990 </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Sexo </mat-label>
          <mat-select formControlName="sexo">
            <mat-option value="">  </mat-option>
            <mat-option value="Feminino"> Feminio </mat-option>
            <mat-option value="Masculino"> Masculino </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label> Nome da mãe </mat-label>
        <input matInput formControlName="mae" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label> Nome do pai </mat-label>
        <input matInput formControlName="pai" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label> E-mail </mat-label>
        <input matInput formControlName="email" />
        <mat-hint align="start"> Ex.: joaos2dasilva@gmail.com </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> CEP </mat-label>
        <input matInput formControlName="cep" pattern="\d{5}-\d{3}" />
        <mat-hint align="start"> Ex.: 12345-678 </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label> Endereço </mat-label>
        <input matInput formControlName="endereco" />
      </mat-form-field>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Número </mat-label>
          <input matInput formControlName="numero" />
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Bairro </mat-label>
          <input matInput formControlName="bairro" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label> Cidade </mat-label>
        <input matInput formControlName="cidade" />
      </mat-form-field>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Estado </mat-label>
          <input matInput formControlName="estado" />
          <mat-hint align="start"> Ex.: SP </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Telefone fixo </mat-label>
          <input matInput formControlName="telefone_fixo" pattern="(\d{2}) \d{4}-\d{4}" />
          <mat-hint align="start"> Ex.: (17) 1234-5678 </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Celular </mat-label>
          <input matInput formControlName="celular" pattern="+\d{2} (\d{2}) \d{5}-\d{4}" />
          <mat-hint align="start"> Ex.: +55 (17) 91234-5678 </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Altura </mat-label>
          <input matInput formControlName="altura" />
          <mat-hint align="start"> Ex.: 1.82 </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Peso </mat-label>
          <input matInput formControlName="peso" />
          <mat-hint align="start"> Ex.: 82.5 </mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="outline">
          <mat-label> Tipo sanguineo </mat-label>
          <mat-select formControlName="tipo_sanguineo">
            <mat-option value="">  </mat-option>
            <mat-option value="A+"> A+ </mat-option>
            <mat-option value="A-"> A- </mat-option>
            <mat-option value="AB+"> AB+ </mat-option>
            <mat-option value="AB-"> AB- </mat-option>
            <mat-option value="B+"> B+ </mat-option>
            <mat-option value="B-"> B- </mat-option>
            <mat-option value="O+"> O+ </mat-option>
            <mat-option value="O-"> O- </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="actions">
      <button mat-stroked-button (click)="onCancel()">
        <mat-icon color="warn">close</mat-icon>
        Cancelar
      </button>

      <button mat-stroked-button color="primary" (click)="onSubmit()">
        <mat-icon>done</mat-icon>
        Salvar
      </button>
    </div>
  </mat-card-actions>
</mat-card>
